.background {
  z-index: -1;
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(https://78.media.tumblr.com/9ec461c4baf2fb921190138db7bdc1a4/tumblr_p5fd5105dp1tuebjjo1_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.nav-bar {
  top: 0;
  position: fixed;
  width: 100%;
  /* max-width: 1580px; */
  height: 54px;
  display: block;
  flex-direction: row;
  justify-content: space-between;
  opacity: 1;
  /* margin: 0 auto; */
}

.logo-container {
  /* background-image: url(https://assets.tumblr.com/images/logo/hover-animations/1.png?_v=161861a…); */
  position: absolute;
  width: 22px;
  height: 34px;
  top: 11px;
  left: 21px;
  overflow: hidden;
  background-position: 0 0;
  background-size: 1008px 34px;
  /* opacity: 0; */
  transition: opacity .2s;
}

.logo {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.right {
  float: right;
  height: 32px;
  margin-top: 10px;
  vertical-align: top;
  margin-right: 20px;
}

.session-button {
  color: #37465C;
  background-color: #559FCA;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
  font-family: "HelveticaNeue";
  max-width: 200px;
  height: 100%;
  padding: 5px 13px;
  border: 0;
  cursor: pointer;
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #37465c;
}

.clearfix {
  clear: both;
}
