html {
  font-family: "HelveticaNeue", "gibson", sans-serif;
  font-weight: lighter;
}

h1, h2 {
  margin: 0 auto;
  color: white;
}

h1 {
  font-size: 75px;
  height: 35px;
  padding: 0;
  text-align: center;
  font-weight: 700;
  font-family: "tFont";
  margin: auto;
}

h2 {
  margin-top: 10px;
  margin-bottom: 16px;
}

.background {
  z-index: -5;
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.nav-bar {
  top: 0;
  position: fixed;
  width: 100%;
  /* max-width: 1580px; */
  height: 54px;
  display: block;
  opacity: 1;
  /* margin: 0 auto; */
}

.nav-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 60px;
}

.logo-container {
  /* background-image: url(https://assets.tumblr.com/images/logo/hover-animations/1.png?_v=161861a…); */
  position: absolute;
  width: 22px;
  height: 34px;
  top: 11px;
  left: 21px;
  overflow: hidden;
}

.logo {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.right-nav {
  float: right;
  height: 32px;
  margin-top: 10px;
  vertical-align: top;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  width: 356px;
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #37465c;
}

.clearfix {
  clear: both;
}

.main-button, .signup-button, .signin-button {
  border-radius: 2px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  font-family: "HelveticaNeue";
  max-width: 200px;
  height: 100%;
  padding: 5px 13px;
  border: 0;
  cursor: pointer;
  display: block;
  white-space: nowrap;
}

.signup-button, .signin-button {
  text-decoration: none;
  box-sizing: border-box;
}

.signup-button {
  background-color: rgba(0,0,0,.09);
  color: #fff;
}

.signin-button {
  background-color: #fff;
  color: #444;
}

.main-button {
  color: #37465C;
  background-color: #559FCA;
}

.middle {
  position: relative;
  height: 54px;
}

.search-div {
  vertical-align: baseline;
  display: block;
  max-width: 540px;
  width: 540px;
  margin-right: 16px;
  position: relative;
  padding-left: 3px;
}

.search-div * { width:100%;}

.search-icon {
  font-family: 'icon-font';
  font-size: 29px;
  position: absolute;
  top: 18px;
  left: 15px;
  color: hsla(0,0%,100%,.6);
}

.search {
  padding-right: 10px;
  padding-bottom: 2px;
  padding-left: 39px;
  color: hsla(0,0%,100%,.6);
  background: rgba(0,0,0,.13);
  transition: background .15s,color .15s;
  font-weight: 400;
  line-height: 21px;
  font-size: 15px;
  height: 34px;
  width: 100%;
  border: 0;
  border-radius: 3px;
  margin-top: 10px;
  position: relative;
  box-sizing: border-box;
}

.search:hover {
  cursor: no-drop;
}

.nav-icons {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 16px;
}

.nav-icon {
  background-color: rgba(0,0,0,0);
  border: none;
  color: #9BA2AD;
  cursor: pointer;
  font-size: 24px;
}

.nav-icon:visited {
  color: #FFF;
}

.tabBar {
  display: flex;
  align-items: center;
}

.avatar-image {
  width: 100%;
}
