@font-face {
  font-family: "gibson";
  src: url("g_font.woff") format('woff');
}

@font-face {
  font-family: "tFont";
  src: url('t_font.woff2') format('woff2');
}

@font-face {
  font-family: "HelveticaNeue";
  src: url('HelveticaNeue.ttf') format('truetype');
}

@font-face {
  font-family: "icon-font";
  src: url('tumblr-icons.woff2') format('woff2');
}

@font-face {
  font-family: "Averta";
  src: url('Averta.otf') format('truetype');
}
