.main-container {
  padding-top: 54px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #37465c;
  bottom: 0;
  max-width: 990px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
}

ul {
  padding-left: 0;
}

.main-posts {
  max-width: 540px;
  border-radius: 3px;
}

.main-post {
  background-color: white;
  list-style: none;
  border-radius: 3px;
}

.post-image {
  left: 0;
  right: 0;
  max-width: 100%;
}

.post-username {
  padding-left: 10px;
  padding-top: 10px;
}
