.right-column {
  width: 320px;
  color: white;
  float: right;
  height: auto;
  margin-top: -5px;
}

.side-panel {
  border-radius: 2px;
  color: hsla(0,0%,100%,.6);
}

.side-header {
  font-weight: 700;
  line-height: 25px;
  width: 280px;
  padding: 0 20px;
  border-bottom: 2px solid hsla(0,0%,100%,.13);
}

.side-list {
  list-style: none;
  width: 100%;
  border-bottom: 1px solid hsla(0,0%,100%,.13);
}

.side-link {
  background-color: inherit;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: inherit;
  border: none;
}

.side-icon {
  font-family: "icon-font";
  font-weight: lighter;
  font-size: 24px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin: 8px;
}

.side-list-text {
  width: 270px;
  line-height: 53px;
  text-align: left;
  vertical-align: baseline;
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-stretch: 100%;
}

.side-list, .side-link, .side-icon, .side-list-text {
  color: inherit;
}

.side_panel, .side-link {
  width: 320px;
}

.side-header, .side-list-text {
  font-size: 14px;
}

.side-header, .side-icon {
  font-style: normal;
}

.side-list, .side-link, .side-list-text {
  height: 53px;
}
