.new-post-wrapper {
  display: inline-grid;
  grid-template-columns: repeat(7, 1fr);
  padding-left: 7px;
  padding-right: 1px;
  text-align: center;
  height: 100%;
}

.post-link {
  width: 76px;
  padding: 12px 14px 18px 14px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  opacity: 0.9;
  cursor: pointer;
}

.post-link:hover {
  background: white;
}

.one, .two, .three, .four, .five, .six, .seven {
  grid-row: 1;
}

.one, .two, .three, .four, .five, .six {
  border-width: 0 1px 0 0;
  border-style: solid;
  border-image: linear-gradient(#fff, #eee, #fff) 1;
}

.one {
  grid-column: 1;
}
.two {
  grid-column: 2;
}
.three {
  grid-column: 3;
}
.four {
  grid-column: 4;
}
.five {
  grid-column: 5;
}
.six {
  grid-column: 6;
}
.seven {
  grid-column: 7;
}

.disabled:hover {
  cursor: no-drop;
}

.icon {
  width: 48px;
  height: 48px;
  font-size: 48px;
  line-height: 48px;
  font-family: "icon-font";
  vertical-align: baseline;
  text-align: center;
  margin: 0 auto;
  font-style: normal;
  transition-property: line-height;
  transition-duration: 0.08s;
}

.post-link:hover .icon {
  line-height: 40px;
}

.text-icon {
  color: #444;
}

.photo-icon {
  color: #d95e40;
}

.quote-icon {
  color: #f2992e;
}

.link-icon {
  color: #56bc8a;
}

.chat-icon {
  color: #529ecc;
}

.audio-icon {
  color: #a77dc2;
}

.video-icon {
  color: #748089;
}

.new-post-span {
  display: block;
  color: #696969;
  font-weight: 400;
  font-size: 15px;
  opacity: 0.9;
  height: 21px;
  vertical-align: baseline;
}

input, textarea {
  border: 0;
  height: auto;
}

input:focus, textarea:focus {
  outline: none;
}

.text-form-container {
  z-index: 1000;
  position: relative;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 540px;
  margin-left: 85px;
}

.text-form-content {
  position: relative;
  padding: 0px 20px;
  width: 500px;
}

.form-header {
  height: 45px;
  margin: 0;
  padding: 15px 15px 13px 20px;
  box-sizing: border-box;
}

.form-title {
  font-size: 36px;
  line-height: 47px;
  width: 100%;
  min-height: 42px;
  word-wrap: break-word;
  cursor: text;
  padding-bottom: 15px;
}

.form-desc {
  min-height: 80px;
  line-height: 21px;
  word-wrap: break-word;
  width: 500px;
  padding-top: 10px;
}

.form-tags {
  padding: 5px 0 10px 0;
}

.form-tags > p {
  margin: 0;
}

.form-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #eee;
  padding: 15px 20px;
}

.form-button {
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 2px;
}

.close-button {
  border: 1px solid #9da6af;
  background-color: #9da6af;
  color: #fff;
}

.post-button {
  border: 1px solid #529ecc;
  background-color: #529ecc;
  color: #fff;
}

.button-disabled {
  border: 1px solid #529ecc;
  background-color: #529ecc;
  color: hsla(0,0%,100%,.5);
}

.glass {
  position: fixed;
  width: 100vw;
  height: 10vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

[contentEditable=true]:empty:before {
  content: attr(placeholder);
  color: #ccc;
  display: block;
}

[contentEditable=true]:focus {
  outline-color: rgba(255, 255, 255, 255);
  cursor:default;
}

.z1000 {
  z-index: 1000;
}

.drop-photo {
  width: 100%;
  box-sizing: border-box;
  background-color: #F2F2F2;
  color: #989898;
  position: relative;
  height: 200px;
  border-top: 2px dashed #989898;
  border-bottom: 2px dashed #989898;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: baseline;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.drop-photo-icon {
  color: #989898;
}

.drop-photo-smile {
  color: #989898;
  font-size: 24px;
}
