// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-container {
  // margin-top: 92px;
  padding-top: 92px;
  padding-left: 5px;
  padding-right: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  overflow: hidden;
  max-width: 990px;
  min-width: 990px;
  z-index: 5;
}

.main-content {
  zoom: 1;
  padding: 0 8px;
  border-radius: 15px;
  position: relative;
}

ol {
  padding-left: 0;
}

.main-posts {
  max-width: 540px;
  border-radius: 3px;
  display: flex;
  flex-direction: column-reverse;
  margin-left: 85px;
  box-sizing: border-box;
}

.main-post {
  position: relative;
  background-color: white;
  list-style: none;
  border-radius: 3px;
  margin-bottom: 20px;
}

.post-image {
  left: 0;
  right: 0;
  max-width: 100%;
}

.left-column {
  width: 625px;
  float: left;
  /* border: 1px solid white; */
}

.right-column {
  width: 320px;
  color: white;
  float: right;
  height: 500px;
  border: 1px solid yellow;
  margin-top: -5px;
}

.post-avatar {
  /* border: 1px solid red; */
  width: 64px;
  height: 64px;
  border-radius: 3px;
  background-color: #559FCA;
  overflow: visible;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: -85px;
}

.post-form-container {
  position: relative;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 20px;
  min-height: 99px;
  min-width: 540px;
  margin-left: 85px;
  height: auto;
}

.username {
  margin-top: 15px;
  margin-bottom: 13px;
}

a:hover {
  cursor: pointer;
}

.username, .tags, , .title, .description, .source, .footer, .caption {
  color: #444;
  font-family: "gibson";
  padding: 0 20px;
}

.notes {
  color: #444;
  font-family: "gibson";
}

.username a, .tags, .notes {
  font-size: 13px;
  font-weight: 700;
  word-wrap: normal;
  white-space: nowrap;
}

.title {
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

.description {
  font-size: 14px;
}

.tags {

}

.source {

}

.footer {
  display: flex;
  flex-direction: rows;
  justify-content: space-between;
  height: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #8f8f8f;
}

.notes {
  vertical-align: baseline;
}

.controls {
  min-width: 96px;
  display: flex;
  justify-content: space-between;
}

.controls-self {
  min-width: 60px;
  display: flex;
  justify-content: space-between;
}

.control-icon {
  font-family: "icon-font";
  font-style: normal;
  font-weight: lighter;
  font-size: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.follow:hover {
  color: #599EC8;
}

.reblog:hover {
  color: #5ABB8B;
}

.like:hover {
  color: #D75F45;
}

.gear:hover {
  color: silver;
}

.mainDiv {
  z-index: -5;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(54, 70, 93, 0.95);
  visibility: hidden;
}

.mainDiv-show {
  visibility: visible;
  z-index: 500;
}

.caption {
  font-size: 14px;
  margin-top: 15px;
  padding: 0 20px;
}
