// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-container {
  // margin-top: 92px;
  padding-top: 92px;
  padding-left: 5px;
  padding-right: 5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  overflow: hidden;
  max-width: 990px;
  min-width: 990px;
  z-index: 5;
  overflow: visible;
}

.main-content {
  zoom: 1;
  padding: 0 8px;
  border-radius: 15px;
  position: relative;
}

ol {
  padding-left: 0;
}

.main-posts {
  max-width: 540px;
  border-radius: 3px;
  display: flex;
  flex-direction: column-reverse;
  margin-left: 85px;
  box-sizing: border-box;
}

.main-post {
  position: relative;
  background-color: white;
  list-style: none;
  border-radius: 3px;
  margin-bottom: 20px;
}

.post-image {
  left: 0;
  right: 0;
  max-width: 100%;
  border-radius: 3px;
}

.left-column {
  width: 625px;
  float: left;
  /* border: 1px solid white; */
}

.post-avatar {
  width: 64px;
  height: 64px;
  border-radius: 3px;
  background-color: #559FCA;
  overflow: visible;
  box-sizing: border-box;
  left: -85px;
  position: absolute;
  top: 0px;
  // position: sticky;
  // top: 74px;
  // transform: translateX(-85px);
}

.post-form-container {
  position: relative;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 20px;
  min-height: 99px;
  min-width: 540px;
  margin-left: 85px;
  height: auto;
}

.username {
  margin-top: 15px;
  margin-bottom: 13px;
}

a:hover {
  cursor: pointer;
}

.username, .tags, , .title, .description, .source, .footer, .caption {
  color: #444;
  font-family: "gibson";
  padding: 0 20px;
}

.notes {
  color: #444;
  font-family: "gibson";
}

.username a, .tags, .notes {
  font-size: 13px;
  font-weight: 700;
  word-wrap: normal;
  white-space: nowrap;
}

.title {
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

.description {
  font-size: 14px;
}

.tags {

}

.source {

}

.footer {
  display: flex;
  flex-direction: rows;
  justify-content: space-between;
  height: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #8f8f8f;
}

.notes {
  vertical-align: baseline;
}

.controls, .controls-self {
  min-width: 24px;
  display: flex;
  justify-content: space-between;
}

.control-icon {
  font-family: "icon-font";
  font-style: normal;
  font-weight: lighter;
  font-size: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.follow:hover {
  color: #599EC8;
}

.reblog:hover {
  color: #5ABB8B;
}

.like:hover {
  color: #D75F45;
}

.like-filled {
  color: #D75F45;
}

.gear:hover {
  color: silver;
}

.mainDiv {
  z-index: -5;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(54, 70, 93, 0.95);
  visibility: hidden;
}

.mainDiv-show {
  visibility: visible;
  z-index: 500;
}

.caption {
  font-size: 14px;
  margin-top: 15px;
  padding: 0 20px;
}

.gear {
  position: relative;
}

.pop-container {
  position: absolute;
}

.post-popover {
  position: absolute;
  margin-top: 5px;
  padding: 1px;
  top: 32px;
  left: -53px;
  border-radius: 3px;
  width: 130px;
  height: 76px;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  // background: rgba(0, 0, 0, 0.1);
}

.post-pop-ul {
  width: 128px;
  height: 74px;
  padding: 4px 0;
}

.post-pop-li {
  list-style: none;
  width: 100%;
  height: 35px;
}

.post-pop-button {
  padding: 5px 25px 5px 14px;
  width: 100%;
  height: 100%;
  text-align: left;
  background: white;
  border: none;
  cursor: pointer;
  font: normal 14px "Helvetica Neue";
  color: #3F5265;
}

.post-pop-button:hover {
  background-color: #E6EFF7;
}

.avatar {
  width: 64px;
  height: 64px;
}

#popup {
  width: 280px;
  clear:both;
  height: 240px;
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.popup-header {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 13px;
}

.header-username {
  color: rgb(82, 158, 204);
  font-size: inherit;
}

.app-btn, .edit-app-btn {
  height: 100%;
  background-color: rgb(82, 158, 204);
  color: rgb(250, 250, 250);
  border-radius: 3px;
  font-size: inherit;
}

.app-btn:hover {
  cursor: pointer;
}

.popup-body {
  height: 150px;
  display: flex;
  flex-direction: column;
}

.avatar-img-div {
  width: 100%;
  height: 100px;
}

.avatar-img {
  width: 64px;
  height: 64px;
  border-radius: 4px;
  background-color: red;
  margin: 20px auto 0 auto;
}

.popup-user-info {
  text-align: center;
}

#pop-title, #pop-desc {
  margin-top: 5px;
  margin-bottom: 0;
}

#pop-title {
  font-size: 20px;
  font-weight: bold;
  font-family: "gibson";
}
